{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the ACSPs registered address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="keep-records" method="post">

        <span class="govuk-caption-l">
          {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
        </span> 
        
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        <!--Taken out for now:
          
          Irish Passport Card (Cannot be used with an Irish passport\
        
                      {
                value: "",
                text: "Letter from head teacher or college principal - for 16 to 19 year olds in full time education - only used in exceptional circumstances if other documents cannot be provided"
              },
            
            -->

        <h1 class="govuk-heading-l">Which documents did you check to verify their identity?</h1>

          {{ govukCheckboxes({
            name: "documents-checked-address",
            fieldset: {
              legend: {
                text: "Group 3: Financial and social history documents",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "",
                text: "Mortgage statement",
                 hint: {
                  text: "UK. Issued in last 12 months"
                }
              },
              {
                value: "",
                text: "Bank or building society statement",
                hint: {
                  text: "UK and Channel Islands. Issued in last 3 months"
                }
              },
              {
                value: "",
                text: "Bank or building society statement",
                hint: {
                  text: "Countries outside the UK. Issued in last 3 months - branch must be in the country where the applicant lives and works."
                }
              },
              {
                value: "",
                text: "Credit card statement",
                hint: {
                  text: "Issued in last 3 months."
                }
              },
              {
                value: "",
                text: "Financial statement, for example pension or endowment",
                hint: {
                  text: "Issued in last 12 months."
                }
              },
              {
                value: "",
                text: "P45 or P60 statement",
                hint: {
                  text: "Issued in last 12 months."
                }
              },
              {
                value: "",
                text: "Council Tax statement",
                hint: {
                  text: "Issued in last 12 months."
                }
              },
              {
                value: "",
                text: "Utility bill",
                hint: {
                  text: "UK - not mobile telephone bill.	Issued in last 3 months"
                }
              },
              {
                value: "",
                text: "Benefit statement, for example Child Benefit, pension",
                hint: {
                  text: "Issued in last 3 months."
                }
              },
              {
                value: "",
                text: "Central or local government, government agency, or local council document giving entitlement, for example from the Department for Work and Pensions, the Employment Service, HMRC",
                hint: {
                  text: "UK and Channel Islands. Issued in last 3 months."
                }
              },
              {
                value: "",
                text: "EEA National ID card",
                hint: {
                  text: "Must still be valid"
                }
              },
              {
                value: "",
                text: "Irish Passport Card",
                hint: {
                  text: "Must still be valid"
                }
              },
              {
                value: "",
                text: "Cards carrying the PASS accreditation logo",
                hint: {
                  text: "UK, Isle of Man, and Channel Islands. Must still be valid."
                }
              },

              {
                divider: "or"
              },
              {
                value: "none",
                text: "None of these",
                behaviour: "exclusive"
              }
            ]
          }) }}


          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
