{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the ACSPs registered address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="documents-checked-3" method="post">

        <span class="govuk-caption-l">
          {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
        </span> 
  

        <h1 class="govuk-heading-l">Which documents from group 2 did you check to verify their identity?</h1>

        <!--(only if it has not been used as proof of name)-->

          {{ govukCheckboxes({
            name: "group-2",
            fieldset: {
              legend: {
                text: "Group 2: Trusted government documents",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              html: "The documents must be different to those you checked from group 1. Select all that apply."
            },
            items: [
              {
                value: "",
                text: "Current photo driving licence (full or provisional)", 
                hint: {
                  text: "From any country outside the UK (except for Isle of Man and Channel Islands)."
                }
              },
              {
                value: "",
                text: "Current photo driving licence (full or provisional), or paper driving licence issued before 1998",
                hint: {
                  text: "From the UK, Isle of Man, or Channel Islands."
                }
              },
              {
                value: "",
                text: "Birth certificate issued after the time of birth",
                hint: {
                  text: "From the UK, Isle of Man, or Channel Islands."
                }
              },
              {
                value: "",
                text: "Marriage/civil partnership certificate", 
                hint: {
                  text: "From the UK or Channel Islands."
                }
              },
              {
                value: "",
                text: "Immigration document, visa, or work permit", 
                hint: {
                  text: "From a country outside the UK."
                }
              },
              {
                value: "",
                text: "HM Forces ID card"
              },
              {
                value: "",
                text: "Firearms or shotgun certificate", 
                hint: {
                  text: "From the	UK, Isle of Man, Channel Islands or Isle of Man."
                }
              },
              {
                divider: "or"
              },
              {
                value: "none",
                text: "None of these",
                behaviour: "exclusive"
              }
            ]
          }) }}

          <input type="hidden" name="group2Docs" id="hiddenInput" />

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
