{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the ACSPs registered address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="documents-checked-2" method="post">

        <span class="govuk-caption-l">
          {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
        </span> 

        <h1 class="govuk-heading-l">Which documents from group 1 did you check to verify their identity?</h1>
  


          {{ govukCheckboxes({
            name: "group-1",
            fieldset: {
              legend: {
                text: "Group 1: Primary identity documents",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "passport",
                text: "Passport", 
                hint: {
                  text: "Any current and valid passport."
                }
              },
              {
                value: "brp",
                text: "Biometric residence permit (BRP) ",
                hint: {
                  text: "UK only."
                }
              },
              {
                value: "",
                text: "Current photo driving licence (full or provisional)",
                hint: {
                  text: "UK, Isle of Man, Channel Islands or EU."
                }
              },
              {
                value: "",
                text: "Birth certificate - issued within 12 months of birth",
                hint: {
                  text: "UK (including those issued by UK authorities overseas), Isle of Man, and Channel Islands. "
                }
              },
              {
                value: "",
                text: "Adoption certificate",
                hint: {
                  text: "UK and Channel Islands."
                }
              },
              {
                divider: "or"
              },
              {
                value: "none",
                text: "None of these",
                behaviour: "exclusive"
              }
 
            ]
          }) }}

          <input type="hidden" name="selectedDocs" id="hiddenInput" />

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
