{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the ACSPs registered address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="keep-records" method="post">

        <span class="govuk-caption-l">
          {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
        </span> 
      

        {{ govukRadios({
          name: "uk-national",
          fieldset: {
            legend: {
              text: "Are they a UK national?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}



          {{ govukButton({
            text: "Continue",
            href:"documents-checked-2"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
