{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the ACSPs registered address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="keep-records" method="post">

        <span class="govuk-caption-l">
          {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
        </span> 
        
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        <h1 class="govuk-heading-l">Which documents did you check to verify their identity?</h1>

          {{ govukCheckboxes({
            name: "documents-checked-name",
            fieldset: {
              legend: {
                text: "Proof of name documents - primary documents - Group 1",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "",
                text: "Current signed passport"
              },
              {
                value: "",
                text: "Original birth certificate",
                hint: {
                  text: "This is a UK birth certificate that was issued within 12 months of the person’s date of birth. It includes certificates issued by UK authorities overseas, such as Embassies High Commissions and HM Forces."
                }
              },
              {
                value: "",
                text: "Adoption certificate",
                hint: {
                  text: ""
                }
              },
              {
                
                value: "",
                text: "Current UK or EEA photocard driving licence",
                hint: {
                  text: "This can be a full or provisional licence."
                }
              },
              {
                value: "brp",
                text: "Biometric residence permit (BRP) "
              }
 
            ]
          }) }}

          {{ govukCheckboxes({
            name: "documents-checked-address",
            fieldset: {
              legend: {
                text: "Proof of address documents - Trusted government documents - Group 2a",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              html: "Select all that apply.<br> A passport or biometric residence permit can only be used as a supporting document if it’s not already been used as a primary document."
            },
            items: [
              {
                value: "",
                text: "Current UK driving licence photocard (only if it has not been used as proof of name)"
              },
              {
                value: "",
                text: "Current UK driving licence (only if it has not been used as proof of name)"
              },
              {
                value: "",
                text: "Original birth certificate",
                hint: {
                  text: "This is a UK birth certificate that was issued within 12 months of the person’s date of birth. It includes certificates issued by UK authorities overseas, such as Embassies High Commissions and HM Forces."
                }
              },
              {
                value: "",
                text: "Marriage/civil partnership certificate"
              },
              {
                value: "",
                text: "Immigration document, visa, or work permit"
              },
              {
                value: "",
                text: "HM Forces ID card"
              },
              {
                value: "",
                text: "Firearms or shotgun certificate"
              }
            ]
          }) }}



          {{ govukCheckboxes({
            name: "documents-checked-address",
            fieldset: {
              legend: {
                text: "Proof of address documents - Trusted government documents - Financial and social history documents - Group 2b",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "",
                text: "Mortgage statement"
              },
              {
                value: "",
                text: "Bank or building society statement Issued in last 3 months"
              },
              {
                value: "",
                text: "Bank or building society statement Issued in last 3 months",
                hint: {
                  text: "Branch must be in the country where the applicant lives and works"
                }
              },
              {
                value: "",
                text: "Bank or building society account opening confirmation letter - Issued in last 3 months"
              },
              {
                value: "",
                text: "Credit card statement Issued in last 3 months"
              },
              {
                value: "",
                text: "Financial statement, for example pension or endowment - Issued in last 12 months"
              },
              {
                value: "",
                text: "P45 or P60 statement - Issued in last 12 months"
              },
              {
                value: "",
                text: "Council Tax statement- Issued in last 12 months"
              },
              {
                value: "",
                text: "Utility bill (not mobile telephone bill) Issued in last 3 months"
              },
              {
                value: "",
                text: "Benefit statement, for example Child Benefit, pension - Issued in last 3 months"
              },
              {
                value: "",
                text: "Central or local government, government agency, or local council document giving entitlement - Issued in last 3 months"
              },
              {
                value: "",
                text: "EEA National ID card"
              },
              {
                value: "",
                text: "Irish Passport Card (Cannot be used with an Irish passport)"
              },
              {
                value: "",
                text: "Cards carrying the PASS accreditation logo"
              },
              {
                value: "",
                text: "Letter from head teacher or college principal - for 16 to 19 year olds in full time education - only used in exceptional circumstances if other documents cannot be provided"
              }
            ]
          }) }}


          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
