{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the ACSPs registered address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="documents-checked-3" method="post">

        <span class="govuk-caption-l">
          {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
        </span> 
        
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        <h1 class="govuk-heading-l">Which documents did you check to verify their identity?</h1>

        <!--(only if it has not been used as proof of name)-->

          {{ govukCheckboxes({
            name: "group-2",
            fieldset: {
              legend: {
                text: "Group 2: Trusted government documents",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              html: "Select all that apply."
            },
            items: [
              {
                value: "",
                text: "Current UK driving licence photocard"
              },
              {
                value: "",
                text: "Original birth certificate",
                hint: {
                  text: "This is a UK birth certificate that was issued within 12 months of the person’s date of birth. It includes certificates issued by UK authorities overseas, such as Embassies High Commissions and HM Forces."
                }
              },
              {
                value: "",
                text: "Marriage/civil partnership certificate"
              },
              {
                value: "",
                text: "Immigration document, visa, or work permit"
              },
              {
                value: "",
                text: "HM Forces ID card"
              },
              {
                value: "",
                text: "Firearms or shotgun certificate"
              },
              {
                divider: "or"
              },
              {
                value: "none",
                text: "None of these",
                behaviour: "exclusive"
              }
            ]
          }) }}

          <input type="hidden" name="group2Docs" id="hiddenInput" />

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
