{% extends "layouts/main.html" %}
{% block pageTitle %}
    What is the director's name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
    
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
      
{% endblock %}
      
{% block content %}
      
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
      
            <form class="form" action="name" method="post">

              <h1 class="govuk-heading-l">
               Before you verify someone’s identity
              </h1>
              
              <p> You should check you have met Companies House identity verification standard.</p>

<p>You will need to make a declaration to confirm you you have met the standard. This will be shown on the public register as part of any records about the person. </p>

<p><a href="guidance" target="_blank">Read the guidance about verifying someone’s identity (opens in a new tab)</a> to check if you have met the verification standard. 

              </p>
        
        
              
        
              {{ govukButton({
                text: "Confirm and continue"
              }) }}
        
        
            </form>
      
          </div>
        </div>
      
      {% endblock %}
      
      
      