{% extends "layouts/main.html" %}

{% block pageTitle %}
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="documents-checked-10" method="post">

        <span class="govuk-caption-l">
          {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
        </span> 

        <h1 class="govuk-heading-l">You have not met Companies House identity verification standard</h1>

        <p class="govuk-body">The documents you checked to verify the person's identity do not meet Companies House identity verification standard.</p>

        <p class="govuk-body">You'll need to ask for more documents to verify the person's identity. <a href="">Read the identity verification standard guidance</a> to find out which documents you can check.</p>         


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
