{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="start-page" method="post">

      <h1 class="govuk-heading-l">
        Tell Companies House you have verified someone’s identity  
      </h1>



      <p class="govuk-body">Use this service to tell us when you've verified someone's identity for Companies House.</p>

      <p>You only need to verify someone's identity for Companies House once, unless we tell them they need to reverify.  </p>







      <h2 class="govuk-heading-m">What you'll need</h2>  

    You'll need to provide details about the:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>person</li>
        <li>identity checks you completed</li> 
        <li>documents the person provided</li>
      </ul>
      
     <h3 class="govuk-heading-s">Tell us about the person</h3>
     <p>You'll need to tell us the person's details exactly as they appear on the documents you checked. </p>
     <p>You'll also need to provide an email address for the person, which we'll use to send their <a href="">Companies House personal code</a>. The email address you give can only be used once to verify someone’s identity. </p>
      

     <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What details you need to provide about the person 
        </span>
      </summary>
      <div class="govuk-details__text">

        <p class="govuk-body">You’ll need to tell us their: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>full name</li>
          <li>date of birth</li>
          <li>home address</li>
          <li>email address 
          </li>
        </ul>
        

      </div>
    </details>

    <h3 class="govuk-heading-s">Tell us about the identity checks</h3>

    <p>You must have completed checks that meet our <a href="">identity verification standard</a>. This lists which documents a person needs to provide and the checks you need to do to verify their identity. </p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What details you need to provide about the identity checks 
        </span>
      </summary>
      <div class="govuk-details__text">

        <p>You'll need to tell us: </p>
        <ul class="govuk-list govuk-list--bullet">
         <li>if the documents were checked by a person, or using identity document validation technology (IDVT)</li>
         <li>which documents the person provided</li>
         <li>the date you completed the identity checks</li>
       </ul>

      </div>
    </details>

    <h3 class="govuk-heading-s">Tell us about the person's documents</h3>
<p>You do not need to upload copies of the documents you checked. However, for most documents, you'll need to provide some information from the document itself.</p>




<p>You must keep records of the identity checks you complete, including copies of the documents. We may ask to see these records.</p>
  
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What details you need to provide about the identity checks 
    </span>
  </summary>
  <div class="govuk-details__text">
<p>For most documents, you'll need to provide some information from the document itself. You will not need to provide this information for any of the documents listed in 'group B' in the standard.</p>
<p>Where relevant, you'll need to provide the: </p> 

                 <ul class="govuk-list govuk-list--bullet">
                  <li>document reference – for example, you’ll need to give the passport number if you checked their passport</li>
                  <li>expiry date, if the document has one</li>
                  <li>country of issue, if the document has one</li>
                </ul>
              </div>
            </details>
       


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    We could suspend or stop your business from acting as an authorised agent if you have not met our identity verification standard. 
  </strong>
</div>





       

<p>It takes around 10 minutes to use this service.</p>






      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}



 <h2 class="govuk-heading-m">What we’ll show on the public register </h2>  

<p>
When you verify someone’s identity, we'll ask you to confirm a statement to say you are satisfied the person is who they claim to be. </p>

<p>If the person connects their verified identity to their Companies House record as a director or person with significant control (PSC), we’ll show the statement on the public register to confirm they are verified.</p>

<p>Read the <a href="guidance-ACSPs">guidance about verifying someone's identity for Companies House</a> to find out what information the statement will include.</p>



    </div>



  </form>
  </div>
{% endblock %}
