{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the director's name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="personal-code" method="post">


      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="width-20" >
            What is their personal code?
          </label>
        </h1>
        <div id="account-number-hint" class="govuk-hint">
          This is an 11 character code, for example A1B-2H3D-4E5F
        </div>
        <input class="govuk-input govuk-!-width-one-half" type="text">
      </div>
      
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where they can find their personal code
          </span>
        </summary>
        <div class="govuk-details__text">
         <p> They can find this on the email we sent when their identity was verified. </p>
         <p>
          For more information, read the guidance on <a href="https://www.gov.uk/guidance/companies-house-personal-codes-for-identity-verification#where-to-find-your-personal-code">Companies House personal codes (opens in a new tab)</a>.           </p>
        </div>
      </details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


