{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="start-page" method="post">

      <h1 class="govuk-heading-l">
        Reverify someone’s identity for Companies House
      </h1>



      <p class="govuk-body">Use this service to tell us if you’ve completed checks to reverify a person’s identity. You only need to this if the person has received a reverification notice from us. </p>

<p>The reverification notices we send can include instructions on how a person needs to reverify. For example, we may have told them which identity documents they can or cannot use. </p>

<p>The identity checks you do to reverify a person must: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>meet our <a href="">identity verification standard </a>
       </li>
  <li>follow any instructions included in the person’s reverification notice</li>
</ul>
<p>We'll ask you to confirm this, and that you are satisfied the person is who they claim to be.</p>

      <h2 class="govuk-heading-m">What you'll need</h2>  




      <p class="govuk-body">You’ll need to give details from the person’s original verification so we can update their existing verification record. You’ll need their: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>personal code</li>
        <li>email address</li>
      </ul>

      <p>You'll also need to give details from the reverification checks you completed. You'll need to tell us:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the person's full name</li>
          <li>the person's date of birth</li>
          <li>the person's home address</li>
          <li>how you checked their identity documents</li>
          <li>which documents they provided</li>
          <li>the document references, expiry dates and country of issue (if relevant)</li>
          <li>the date you completed the reverification checks</li>
        </ul>
     
   


<p>It takes around 10 minutes to use this service.</p>






      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}



 <h2 class="govuk-heading-m">What happens when you reverify someone's identity</h2>  



<p>We will:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>email the person to tell them you have reverified their identity</li>
  <li>update their identity verification statement with the new details you provide</li>
</ul>

<p>If the person connects their verified identity to their Companies House record as a director or person with significant control (PSC), we’ll show the identity reverification statement on the public register to confirm they are reverified.</p>

<p>Read the <a href="guidance-ACSPs">guidance about verifying someone's identity for Companies House</a> to find out what information the statement will include.</p>

<!--
<p>The statement will include the person’s name, as well as information about the authorised agent that has verified their identity.</p>
<p>If we should not show the person's name on the public register, you can provide another name to use for the statement. For example, you may want to do this if the name that’s shown on their identity documents is not the name they are usually known by. </p>
<p><a href="guidance-ACSPs">Read the guidance on verifying someone’s identity for Companies House</a> to find out what other details the statement will include.  </p> -->


  <!-- 

   <p>We'll send their personal code to the email address you provide in this service. This will be needed to connect their verified identity to our records. </p>

<p>An email address can only be used once to verify someone's identity.</p>

   <p>We'll let them know they can share the code with people they trust to file on their behalf. </p> -->

 <!--  

      <p class="govuk-body">You must verify the identity of the person you are telling us about. The checks you carry out to verify someone’s identity must meet the Companies House identity verification standard.</p> -->
   
       <!-- match supervisor  -->

       <!-- Bill -->

    

      <!-- UK -->

    </div>

 <!-- <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->

  </form>
  </div>
{% endblock %}
