{% extends "layouts/main.html" %}

{% block pageTitle %}
Application complete – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Identity verified successfully</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        We have sent a confirmation email to james@jamesaccounting.com.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We'll email director@email.com with their identity code. This will be needed to make a filing for this person at Companies House.</p>

      <h2 class="govuk-heading-m">If the person you've verified is a director (or equivalent)</h2>
      <p>An update about their company must be filed by XX/XX/XX. We'll then update the Companies House register to show they have verified their identity.</p>

      <h2 class="govuk-heading-m">If the person you've verified is a person with significant control (PSC)</h2>
    <p>An update about their company must be filed by XX/XX/XX. We'll then update the Companies House register to show they have verified their identity.</p>



    </div>
  </div>

{% endblock %}
