{% extends "layouts/main.html" %}

{% block pageTitle %}
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="date-identity-checks" method="post">

        <span class="govuk-caption-xl"> {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">What is their email address?</h1>
            <div class="govuk-hint govuk-!-margin-bottom-6">
This must belong to the person whose identity you are verifying.    </div>

        {{ govukInput({
          label: {
            text: ""
          },
 
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

<div class="govuk-inset-text">
 <p>If the email address is already linked to a Companies House account, we’ll use this to send the person’s identity code. If not, we’ll send the identity code to their home address. </p>

  <p>The identity code is personal information and we can only send it to the person it belongs to. </p>
</div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


