{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the name of your business? – {{ serviceName }} 
{% endblock %}



{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="name-on-register" method="post">

                  <span class="govuk-caption-l">
                    {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
                  </span>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Can we use this name in the identity verification statement for this person?
              </h1>
            </legend>

  <div id="event-name-hint" class="govuk-hint">
You can provide a different name if, for example, they use a different name for their professional activities. </div>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registerName" name="registerName" type="radio" value="doc">
                <label class="govuk-label govuk-radios__label" for="registerName">
                  Yes

                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registerName-2" name="registerName" type="radio" value="different">
                <label class="govuk-label govuk-radios__label" for="registerName-2">
                  No, I need to provide a different name
                </label>
                
              </div>
              
            </div>
          </fieldset>
        </div>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What is the identity verification statement? 
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Later in this service, you'll be asked to confirm a statement that you are satisfied this person is who they claim to be. The statement will include this person’s name. </p>
            <p>If the person connects their verified identity to their Companies House record as a director or person with significant control (PSC), we’ll show the statement on the public register to confirm they are verified. 
</p>
          </div>
        </details>




        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
