{% extends "layouts/main.html" %}


{% block pageTitle %}
Register an ACSP: application approved
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->           
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock  %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Register an authorised agent: application approved",
        html: buttonHref
      }) }}
    <!--  <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Company number</th>
            <td class="govuk-table__cell">00445790</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Company name</th>
            <td class="govuk-table__cell"> MORRIS ACCOUNTING LTD </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name </th>
            <td class="govuk-table__cell">James Morris </td>
          </tr>
        </tbody>
      </table> -->


      <p class="govuk-body">We have approved your application and registered MORRIS ACCOUNTING LTD as a Companies House authorised agent. This is also known as an Authorised Corporate Service Provider (ACSP).</p>

      <div class="highlight-box">

      <p class="govuk-body">The authorised agent number for MORRIS ACCOUNTING LTD is: <strong>06254821</strong></p>

      <p class="govuk-body">Keep the number secure and do not share it with anyone outside of your organisation. You will need this to file on paper or using software.</p>


      </div>
      <h2 class="govuk-heading-m govuk-!-margin-top-8">What to do next</h2>
      <p>You can access your authorised agent account and services by signing in to your Companies House account.</p> 
      <p>If other people work for your business, you can add them to the authorised agent account.</p>


<div class="govuk-inset-text">
      <p>  Sign in to Companies House: <a href="https://find-and-update.company-information.service.gov.uk">https://find-and-update.company-information.service.gov.uk</a> </p>

</div>

   <!--   <h3 class="govuk-heading-s">Add or remove members who work for the authorised agent</h2>
      
      <p>Once added, members can sign in to their account to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>form companies and registrable partnerships on behalf of clients</li>
        <li>file on behalf of clients</li>
        <li>verify someone's identity</li>
      </ul>  -->

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Your responsibilities as an authorised agent</h2>

      <p>You must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>tell us if there is a change to the AML details you have provided – you must do this within 14 days</li>
        <li>provide more information to Companies House if requested – this could be about your business, or records of your filings with Companies House</li>
        <li>keep records of checks you do to verify someone’s identity for 7 years, if you verify the identity of clients for Companies House</li>
        </ul>






    <!--      <h3 class="govuk-heading-m">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our <a href="" class="govuk-link govuk-link--no-visited-state">quick survey</a>.</p> -->
      <h2 class="govuk-heading-m govuk-!-margin-top-8">Contact us</h2>
      <h3 class="govuk-heading-s">Telephone</h3>
      <ul class="govuk-list">
        <li>0303 1234 500</li>
        <li>Monday to Friday, 8:30am to 6pm</li>
      </ul>
      <p class="govuk-body">
        Find out about call charges: <a class="govuk-link" href="https://www.gov.uk/call-charges">https://www.gov.uk/call-charges</a>
      </p>

      <h3 class="govuk-heading-s">Email</h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/call-charges">enquiries@companieshouse.gov.uk</a>
        </li>
      </ul>
    </div>
    </div>


  </div>
</div>
{% endblock %}
