{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the ACSPs registered address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="format-of-the-documents-checked" method="post">

        <span class="govuk-caption-l">
          {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
        </span> 

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                How were their identity documents checked?
              </h1>
            </legend>
            <div id="changedName-hint" class="govuk-hint">
      This does not include additional documents the person may have provided, for example to confirm their address history.
    </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="security-check-2" name="security-check" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="security-check">
                  By a person
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="security-check" name="security-check" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="security-check-2">
                  Using identity document validation technology (IDVT)
                </label>
              </div>
                            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="security-check" name="security-check" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="security-check-2">
                  Both
                </label>
              </div>
            </div>
          </fieldset>
        </div>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What is identity document validation technology (IDVT)?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>This is technology that can help you to check the authenticity of documents when you're verifying someone's identity.</p>
    <p>For more information, <a target="_blank" href="https://www.gov.uk/government/publications/identity-document-validation-technology/identification-document-validation-technology">read the guidance on identification document validation technology (opens in a new tab)</a>.</p>
  </div>
</details>
        
          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
