{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start - Verify your identity 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">Guidance</span>
      <h1 class="govuk-heading-l">
        Tell Companies House you have verified someone's identity 
      </h1>

<p class="govuk-body-m">Guidance for authorised agents to tell Companies House when they have verified someone’s identity. </p>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#who">
              Who can use this service
              </a>
            </li>
            
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#before">
              Before you start
              </a>
            </li>   
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#what-you-need">
               What you’ll need  
              </a>
            </li>   
                        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#after">
               What happens when you verify someone’s identity
              </a>
            </li>  
                        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#public-info">
                What we’ll show on the public register
              </a>
            </li>  
          </ol>
        </nav>
      </aside>

    </div>

  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

   <!--     <h2 class="govuk-heading-m" id="who">Who needs to verify their identity</h2>

        <p>Your clients will need to verify their identity for Companies House if they are:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a person with significant control (PSC)</li>
              <li>a director</li>
              <li>the equivalent of a director - this includes members, general partners and managing officers</li>
            </ul>

        <h2 class="govuk-heading-m" id="how">How to verify someone's identity</h2>
        
        <p>Your clients can:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://prove-your-identity-prototype.herokuapp.com/v5/pre-one-login/start">verify their identity with Companies House</a></li>
              <li>ask you or another authorised agent to verify their identity</li>
            </ul> -->

    <!--  <p>Your clients will need to verify their identity for Companies House if they are:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a person with significant control (PSC)</li>
              <li>a director</li>
              <li>the equivalent of a director - this includes members, general partners and managing officers</li>
            </ul>   -->



      <h2 class="govuk-heading-m" id="who">Who can use this service</h2>

      <p>This service is for Companies House authorised agents to tell us when they have verified someone’s identity. </p>

      <p>You, or the business you work for, must be registered as a Companies House authorised agent before you can use this service. </p>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What is a Companies House authorised agent? 
    </span>
  </summary>
  <div class="govuk-details__text">
  <p> Authorised agents are businesses that are registered with an Anti-Money Laundering (AML) supervisory body. For example, accountants, solicitors or company formation agents. </p>
  <p>They must register with us to be able to: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>form companies and registrable partnerships on behalf of clients</li>
              <li>file on behalf of clients</li>
              <li>verify the identity of clients for Companies House</li>
            </ul>

  <p>For more information, read the <a href="">guidance on how to register as a Companies House authorised agent</a>.



  </div>
</details>

      <h2 class="govuk-heading-m" id="before">Before you start</h2>

<p>You must have completed checks to verify the person’s identity.  The checks you do to verify someone’s identity for Companies House must meet the identity verification standard, in Registrar’s rules. </p>

<div class="govuk-inset-text">
  Read the <a href="guidance">guidance on how to meet Companies House identity verification standard</a> before you start. 
</div>

<p>You must keep records of the checks you do to verify someone’s identity – we may ask for more information if we need to. If you cannot provide records of identity checks when asked, you may be suspended or deauthorised from acting as a CH authorised agent. </p>

<p>You also need to check your authorised agent details are correct. You must tell us if there have been any changes to the agent’s Anti-Money Laundering (AML) registration details before you use this service. </p>


      <h2 class="govuk-heading-m" id="what-you-need">What you’ll need </h2>

      <p>When you have completed checks to verify someone’s identity, you will need to 
use this service to tell us the:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>person’s name</li>
              <li>person’s date of birth</li>
              <li>person’s home address</li>
              <li>person's email address</li>
              <li>date you completed the identity checks</li>
              <li>documents you used as evidence to verify their identity</li>
            </ul>


      <p>You’ll also need to complete a declaration to confirm that the person is who they claim to be and you have completed checks that meet the Companies House identity verification standard.</p>



      <h2 class="govuk-heading-m" id="after">What happens when you verify someone’s identity </h2>


<p>If your checks meet the Companies House standard of identity verification, we will email the person their Companies House personal code. This is an 11 character code that is given to a person once they’ve verified their identity. <p>
<p>They will need to use their Companies House personal code to connect their verified identity to our records. This is so that we know the correct person is linked to the name we have on file.   </p>

<p>They can share this code with people who file on their behalf, or for their company. </p>


     


                   <h2 class="govuk-heading-m" id="public-info">What we’ll show on the public register</h2>

      <p>Once the person has used their personal code to connect their verified identity to our records, we will show that they are verified. </p>
      <p>As part of any records about the person, we will show:</p>


            <ul class="govuk-list govuk-list--bullet">
              <li>the name of your authorised agent</li>
              <li>the names of the Anti-Money Laundering (AML) supervisory bodies the agent is registered with </li>
              <li>the date you completed the identity checks </li>
            </ul>








{% endblock %}
