{% extends "layouts/main.html" %}

{% block pageTitle %}
Shortcuts – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <h1 class="govuk-heading-l">
      {{ serviceName}}
      <span class="govuk-caption-xl">Version 7</span>
    </h1>

    

    {{ govukButton({
      text: "ACSP - verifying a person's identity",
      classes: "govuk-button--secondary",
      href:"email-acsp-registration-accepted"
    }) }}


    {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}



    <h2 class="govuk-heading-m">Entry points </h2>
    

    <!-- Verify someone identity shortcuts -->

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-list" href="guidance">Companies House identity verification standard</a>
      </li>
      <li>
        <a class="govuk-list" href="guidance-ACSPs">Guidance</a>
      </li>
      <li>
        <a class="govuk-list" href="email-acsp-registration-accepted">Email - ACSP registration accepted</a>
      </li>
      <li>
        <a class="govuk-list" href="">Sign in to Companies House</a>
      </li>
      <li>
        <a class="govuk-link" href="">Authorised agent account </a>
      </li>
  </ul>

<h2 class="govuk-heading-m" id="earlyScreens">Start page</h2>

    <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="start-page">Tell Companies House you have verified someone’s identity</a>
    </li>
  </ul>

  <h2 class="govuk-heading-m" id="userRole">Individual's details</h2>
  <ul class="govuk-list govuk-list--bullet">

    <li>
      <a class="govuk-list" href="name">Name</a>
    </li>

    <li>
      <a class="govuk-list" href="email-address">Email address <strong class="govuk-tag govuk-tag--red">
        Review position in flow
      </strong></a>
    </li>

   
    <li>
      <a class="govuk-list" href="dob"> Date of birth</a>
    </li>
    <li>
      <a class="govuk-list" href="address-lookup">Where do they live?</a>
    </li>
    <li>
      <a class="govuk-list" href="address-confirm">Confirm their home address</a>
    </li>


    </ul>


  <h2 class="govuk-heading-m" id="userRole">Documents checked</h2>
  <ul class="govuk-list govuk-list--bullet">


    <li>
      <a class="govuk-list" href="date-identity-checks">Date identity checks carried out</a>
    </li>

    <li>
      <a class="govuk-list" href="format-of-the-documents-checked">Did you check the security features of the document(s)?</a>
    </li>

    <li>
      <a class="govuk-list" href="documents-checked-r1">Route 1 - Which identity documents did you check to prove their identity?</a>
    </li>

    <li>
      <a class="govuk-list" href="documents-checked-r2">Route 2 - Which identity documents did you check to prove their identity?</a>
    </li>

</ul>
  <h2 class="govuk-heading-m" id="userRole">Declaration</h2>
  <ul class="govuk-list govuk-list--bullet">

    <li>
      <a class="govuk-list" href="id-check">Identity verification declaration</a>
    </li>
  </ul>
 



  <h2 class="govuk-heading-m"id="finalScreens">Final screens</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-list" href="check-your-answers">Check your answers before sending your application</a>
      </li>
      <li>
        <a class="govuk-list" href="confirmation"> Confirmation</a>
      </li> 
    </ul>


  <h2 class="govuk-heading-m"id="finalScreens">Emails</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-list" href="email-confirmation-to-ACSP">Email sent to the ACSP</a>
      </li>
      <li>
        <a class="govuk-list" href="email-confirmation-to-individual">Email sent to the individual verified</a>
      </li> 
    </ul>



  </div>
  

</div>




{% endblock %}




