{% extends "layouts/main.html" %}

{% block pageTitle %}
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form class="form" action="verification-confirmation" method="post">
        

      <h1 class="govuk-heading-xl">Enter the details of the verification record you want to ammend</h1>

      
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="verification-ID">
            Verification reference ID
          </label>
          <div id="verification-ID-hint" class="govuk-hint">
            This can be found ...
          </div>
        </h1>
        <input class="govuk-input" id="verification-ID" name="verificationID" type="text">
      </div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="email">
            Email address
          </label>
          <div id="email-hint" class="govuk-hint">
            This is the email address of the person who was verified ...
          </div>
        <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              What is your date of birth?
            </h1>
          </legend>
          <div id="dob-hint" class="govuk-hint">
            For example, 31 3 1980
          </div>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>


      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href:"what-do-you-want-to-change"
        }) }}
      


<!---

      </dl>



      <h2 class="govuk-heading-m">Identity check details</h2>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">


    <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date identity checks were completed
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['checked-day']}}   {{data['checked-month']}}  {{data['checked-year']}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How the identity documents were checked
          </dt>
          <dd class="govuk-summary-list__value">



            person 
            The documents were checked by a person

            used technology: Option 1 - the documents were checked using identity document validation technology (IDVT) 

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Identity documents that were checked
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              <li>Passport</li> 
              <li>Bank or building society statement</li>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
         

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Identity verification statement
          </dt>
          <dd class="govuk-summary-list__value">
            <p>I confirm that JAMES ACCOUNTING LTD verified the identity of  {% if ((data['registerName'] === "doc")) %}

              {{data['firstName']}} {{data['middleName']}} {{data['lastName']}} 

                    {% else %}

                    {{data['firstNameRegister']}} {{data['middleNameRegister']}} {{data['lastNameRegister']}}
              
                     
                    {% endif %}
               to the standard set by Companies House and is satisfied that the required personal information is true. The verification checks were completed {{data['checked-day']}}   {{data['checked-month']}}  {{data['checked-year']}}.</p> 
            <p>JAMES ACCOUNTING LTD is supervised by Association of Chartered Certified Accountants.</p>

          <p>The person provided the following documents to prove their identity:</p>

            <ul class="govuk-list govuk-list--bullet">
                    <li>passport</li>
                    <li>photo driving licence</li>
                    <li>bank or building society statement</li>
                  </ul>

          
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd> -->
        </div>
    
        </dl>



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">



    
        </dl>


<!---
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
         <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
             Declaration
            </h2>
          </legend> 
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
               I confirm that JAMES ACCOUNTING LTD has delivered the date of birth and required contact information for {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}, and a description of the information and evidence used to satisfy that the required personal information is true.

              </label>
            </div>
          </div>
        </fieldset>
      </div>

    -->











     <!-- <p class="govuk-body"><a href="/verify-using-an-acsp/name" class="govuk-link">Add another person whose identity you’ve verified </a></p> -->

   <!--   {{ govukInsetText({
        text: 'We will not show any information you provide on the public register.'
      }) }}-->

   
      
      <!--  {{ govukButton({
          text: "Add another person",
          classes: "govuk-button--secondary",
          href:"name"
        }) }} -->
      </div>

  



     

    </div>
  </div>
{% endblock %}
