{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the ACSPs registered address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

           <h1 class="govuk-heading-l">
          Tell us about the identity checks you completed
        </h1>
  <!--      <p class="govuk-body">
         You must have followed the identity checking process in <a href="#" class="govuk-link">Companies House identity verification standard</a> to verify {% if (data['firstName'] == "") and (data['lastName'] == "") %}
Hannah Salt{% else %}{{data['firstName']}} {{data['middleName']}} {{data['lastName']}}{% endif %}'s identity.     
        </p> -->


        <p>To verify someone's identity for Companies House, you must have completed checks that meet our <a href="#"><span class="govuk-visually-hidden">Companies House</span>identity verification standard</a>.</p>

                <p class="govuk-body">
          There are 2 options for checking identity documents in the standard. You’ll need to tell us which option you used. 
        </p>



      <form class="form" action="format-of-the-documents-checked" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Which option from the identity verification standard did you use to verify their identity?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-check" name="security-check" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="security-check">
                    Option 1
                  </label>
                          <div class="govuk-hint govuk-radios__hint">
          Their identity documents were checked using identity document validation technology (IDVT).
        </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-check" name="security-check" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="security-check-2">
                    Option 2
                  </label>
                          <div class="govuk-hint govuk-radios__hint">
          Their identity documents were checked by a person.
        </div>
                </div>
              </div>
            </fieldset>
          </div>

        </form>
        
          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
