{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the name of your business? – {{ serviceName }} 
{% endblock %}



{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="name-on-register" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Can we use the name {{data['firstName']}} {{data['middleName']}} {{data['lastName']}} on the public register?
              </h1>
            </legend>

          <p>If you select 'yes', we'll include this name in the identity verification declaration for this person on the online Companies House register.</p>


            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registerName" name="registerName" type="radio" value="doc">
                <label class="govuk-label govuk-radios__label" for="registerName">
                  Yes 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registerName-2" name="registerName" type="radio" value="different">
                <label class="govuk-label govuk-radios__label" for="registerName-2">
                  No, this name cannot be shown on the public register
                </label>
              </div>
              
            </div>
          </fieldset>
        </div>


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
