{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="start-page" method="post">

      <h1 class="govuk-heading-l">
        Tell Companies House you have verified someone’s identity  
      </h1>



      <p class="govuk-body">Use this service to tell us when you've verified someone's identity for Companies House.</p>
        

      
        <p class="govuk-body">You must have verified the person's identity by completing the checks from <a href="guidance">Companies House identity verification standard</a>.</p>


         <p>You'll need to keep records of the identity checks for 7 years from the date you completed them. We may ask to see these records to check you’ve met our standard.</p>





<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    We could suspend or stop your business from acting as an authorised agent if you have not met our identity verification standard. 
  </strong>
</div>


      <h2 class="govuk-heading-m">What you'll need to tell us about the person</h2>  




      <p class="govuk-body">You’ll need to tell us their: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>full name</li>
          <li>date of birth</li>
          <li>home address</li>
          <li>email address</li>
        </ul>
     

           <h2 class="govuk-heading-m">What you'll need to tell us about the identity checks</h2>  



  There are 2 options for checking identity documents in our identity verification standard. You’ll need to tell us: </p> 

                 <ul class="govuk-list govuk-list--bullet">
                  <li>whether you used option 1 or 2</li>
                  <li>which documents you checked</li>
                  <li>the date you completed the checks</li>
                </ul>

       

<p>It takes around 10 minutes to use this service.</p>






      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}


<p>Read the <a href="guidance-ACSPs">guidance about verifying someone's identity for Companies House</a>.</p>

 <!--     <h2 class="govuk-heading-m">Before you start</h2>  

      <p class="govuk-body">You must verify the identity of the person you are telling us about. The checks you carry out to verify someone’s identity must meet the Companies House identity verification standard.</p> -->
   
       <!-- match supervisor  -->

       <!-- Bill -->

    

      <!-- UK -->

    </div>

 <!-- <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->

  </form>
  </div>
{% endblock %}
