{% extends "layouts/main.html" %}

{% block pageTitle %}
Application complete – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'


}) }}

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>
</div>


{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

    <form class="form" action="check-your-answers" method="post">

    <h1 class="govuk-heading-xl">Check your answers before submitting</h1>

<!--
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        {{data['firstName']}} {{data['middleName']}} {{data['lastName']}} will not be able to connect their verified identity to the information we hold if you've entered their email address or date of birth incorrectly. 
      </strong>
    </div> -->


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <!-- Reference details -->
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Verification reference
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['verificationID']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <!-- Reason for reporting-->

          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
             Why you need to change or report the details
          </dt>
          <dd class="govuk-summary-list__value">
            Their details were entered incorrectly
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>


        <!-- Reason for reporting-->

          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Details that you need to change or report
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              <li>Name</li>
              <li>Date of Birth</li>
              <li>Home address</li>
              <li>Email address</li>
              <li>Dates identity checks were complete</li>
              <li>Identity documents that were checked</li>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

   



      <!-- Name -->
      {% if (data['data-to-change'].includes("name"))%}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

      {% endif %}

      <!-- Name for statement -->
      {% if (data['data-to-change'].includes("statement"))%}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name to be shown on the public identity verification statement     
          </dt>
          <dd class="govuk-summary-list__value">
            Joe Smith 

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      {% endif %}



     <!-- Date of birth -->
      {% if (data['data-to-change'].includes("dob"))%}
             
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            20 June 1980
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

      {% endif %}




      <!-- Home address -->

         {% if (data['data-to-change'].includes("home-address"))%}
             
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            7 Wentloog Road<br>Rumney<br> Cardiff<br> Wales<br> CF3 3EA
            
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> Home address</span>
            </a>
          </dd>
        </div>
         {% endif %}


      <!-- Email address -->

      {% if (data['data-to-change'].includes("email"))%}
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['email']}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        {% endif %}
  


      <!-- Dates identity checks were completed -->


      {% if (data['data-to-change'].includes("date-checked-completed"))%}

      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date identity checks were completed
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['checked-day']}}   {{data['checked-month']}}  {{data['checked-year']}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
     </div>

      {% endif %}

            

      <!-- Identity documents that were checked -->
      {% if (data['data-to-change'].includes("documents-checked"))%}

      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How the identity documents were checked
          </dt>
          <dd class="govuk-summary-list__value">

            The documents were checked by a person

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Identity documents that were checked
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              <li>Passport</li> 
              <li>Bank or building society statement</li>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Passport number
          </dt>
          <dd class="govuk-summary-list__value">
            55241683 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> passport number</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expiry date
          </dt>
          <dd class="govuk-summary-list__value">


          1 November 2030

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> passport expiry date</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of issue
          </dt>
          <dd class="govuk-summary-list__value">
            <p>United Kingdom</p>
          
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">country of issue</span>
            </a>
          </dd>
        </div>
        

      {% endif %}


      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            More details
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['moreDetail']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
     </div>



      </dl>




<!--


      <h2 class="govuk-heading-m">Identity check details</h2>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">



        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Identity verification statement
          </dt>
          <dd class="govuk-summary-list__value">
            <p>I confirm that JAMES ACCOUNTING LTD verified the identity of  {% if ((data['registerName'] === "doc")) %}

              {{data['firstName']}} {{data['middleName']}} {{data['lastName']}} 

                    {% else %}

                    {{data['firstNameRegister']}} {{data['middleNameRegister']}} {{data['lastNameRegister']}}
              
                     
                    {% endif %}
               to the standard set by Companies House and is satisfied that the required personal information is true. The verification checks were completed {{data['checked-day']}}   {{data['checked-month']}}  {{data['checked-year']}}.</p> 
            <p>JAMES ACCOUNTING LTD is supervised by Association of Chartered Certified Accountants.</p>


          
          </dd>

        </div>
    
        </dl> -->

<!-- 
      <h2 class="govuk-heading-m">Passport details</h2>



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">


  
    
        </dl>

      


      <h2 class="govuk-heading-m">What information we'll show on the public register</h2>
          <p>If the change is accepted, we'll include the name you have provided in the public verification statement for this person. This is shown on the Companies House register if this person connects their verified identity to our records. </p> -->



      {{ govukCheckboxes({
        name: "confirm-verification",
        fieldset: {
          legend: {
            text: "Change of verification details",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "statement",
            text: "I confirm that, to the best of my knowledge, the information I have provided about this person is true. "
          }
        ]
      }) }}





        {{ govukButton({
          text: "Confirm and submit"
        }) }}


  



     </form>

    </div>
  </div>
  {% endblock %}