{% extends "layouts/main.html" %}

{% block pageTitle %}
Application complete – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'


}) }}

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>
</div>



{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="confirmation" method="post">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">False identity verification details reported</h1>
       <!-- <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div> -->
      </div>

      <p>
        Your reference is HDJ2123F. </p>

        <p> We have sent a confirmation email to <strong>james@jamesaccounting.com</strong>.
        </p>

        <h2 class="govuk-heading-m">What happens next
        </h2>
<p>We'll send an email to <strong>james@morrisaccounting.com</strong> to let you know if we need more information about this person's identity verification.
</p>



         <h2 class="govuk-heading-m">What did you think of this service?</h2> 
        <p class="govuk-body">
          This is a new service. To help us improve it, <a href="#" class="govuk-link">complete our quick survey (opens in a new tab)</a>.
        </p>

        <h2 class="govuk-heading-m govuk-!-padding-top-4">What do you want to do next?</h2>

        <p class="govuk-body">
           <a href="#" class="govuk-link">Tell Companies House about another identity you have verified</a>
        </p>
  
        <p class="govuk-body">
          <a href="#" class="govuk-link">View authorised agent account</a>
        </p>



        <ul class="govuk-list govuk-body-xs govuk-!-padding-top-9">
          <li>
          <a href="email-confirmation-to-ACSP" class="govuk-link"> Agent email</a>
          </li>
          <li>
          <a href="email-confirmation-to-individual" class="govuk-link">Client email</a></li>


          <li>
          <a href="https://acsp-verify-identity-prototype.herokuapp.com/v9/chs-annotation-people" class="govuk-link">The register</a>
        </li>
        </p>





  

</form>
    </div>
  </div>

{% endblock %}
