{% extends "layouts/main.html" %}


{% block pageTitle %}
Register an ACSP: application approved
{% endblock %}


{% block beforeContent %}




{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   
      <p>Email subject line: <strong>Your identity verification details for Companies House have been changed </strong></p>

      <p>MORRIS ACCOUNTING LTD has made changes to your identity verification details for Companies House. When they verified your identity, they entered an incorrect: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>date of birth</li>
      </ul>

      <p>We have now changed these details. </p>
      <!--<p class="govuk-body">MORRIS ACCOUNTING LTD has verified your identity for Companies House.</p> -->

        <h2 class="govuk-heading-m">If you think there has been a mistake</h2>

  <p>Contact us as soon as possible.

  <p><strong>Email:</strong> enquiries@companieshouse.gov.uk</p>

  <p><strong>Telephone:</strong> 0303 1234 500</p>
  <p>
   Monday to Friday, 8:30am to 6pm<br>
  Find out about call charges: <a href="https://www.gov.uk/call-charges" class="govuk-link">https://www.gov.uk/call-charges</a></p>
  <p>
  This email was send from an email address which cannot accept incoming mail. Do not reply directly to this message. </p>


<!--
      <h2 class="govuk-heading-m govuk-!-margin-top-7">What a Companies House personal code is</h2>


      <p class="govuk-body">Your Companies House personal code connects your verified identity to our records. This is so that we know the correct person is linked to the personal details we have on file.</p> -->

    <!--  <h2 class="govuk-heading-m">When you may need your Companies House personal code</h2> -->

    <!--  <p class="govuk-body">You may need it: </p>

<ul class="govuk-list govuk-list--bullet">
      <li>as part of some other company filings</li>
      <li>if you are appointed as a director</li>
      <li>if you become a person with significant control (PSC)</li>
  </ul> -->

    </div>
    </div>


  </div>
</div>
{% endblock %}
