{% extends "layouts/main.html" %}


{% block pageTitle %}
Register an ACSP: application approved
{% endblock %}


{% block beforeContent %}




{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Request to change identity verification details submitted</h1> 

   
      
      <p class="govuk-body">You've requested to change the identity verification details for {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}. </p>


      <p class="govuk-body">Your reference is <strong>HDJ2123F</strong>. This is not the Companies House personal code for the person you have verified. </p>

      <h2 class="govuk-heading-m">What happens next </h2>

      <p>We'll email to let you know if the change has been accepted or rejected.</p>
      <p>We'll process the request as soon as possible. This is a new service, so we're not able to tell you exactly how long this will take.</p>

      <h2 class="govuk-heading-m">If it's accepted </h2>
      <p>We'll update the person's identity verification record and email <strong>person@email.com</strong> to let them know you have changed their details.</p>


      <h2 class="govuk-heading-m">If it's rejected </h2>
      <p>We may contact you for more information about this person's identity verification.</p>

      <h2 class="govuk-heading-m">Help us to improve this service</h2>
      <p>Tell Companies House you've verified someone's identity is a new service. Complete our quick survey to help us improve it: <a href="">https://www.smartsurvey.co.uk/s/verify-someones-identity/</a></p>

    <!--  <h3 class="govuk-heading-m">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our <a href="" class="govuk-link govuk-link--no-visited-state">quick survey</a>.</p> -->
      <h2 class="govuk-heading-m">Contact us</h2>
            <h3 class="govuk-heading-s">Telephone</h3>
      <ul class="govuk-list">
        <li>0303 1234 500</li>
        <li>Monday to Friday, 8:30am to 6pm</li>
        <li>Find out about call charges: <a href="">https://www.gov.uk/call-charges</a></li>
      </ul>


      <h3 class="govuk-heading-s">Email</h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/call-charges">enquiries@companieshouse.gov.uk</a>
        </li>
      </ul>





  </div>
</div>
{% endblock %}
