{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the director's name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form class="form" action="reason-for-change" method="post">



        <h1 class="govuk-heading-l">Tell us why you need to report or change the details</h1>

        {{ govukCheckboxes({
          name: "reason-for-the-change",
          classes: "govuk-!-padding-bottom-4",
          fieldset: {
            legend: {
              html: " <strong>Select the reason you need to report or change their details:</strong>"
            }
          },

          items: [
            {
              value: "change-1",
              text: "Their details were entered incorrectly"
            },
            {
              value: "change-2",
              text: "Their details have changed"
            },
            {
              value: "change-3",
              text: "I think they gave false details"
            }
          ]
        }) }}  




        {{ govukTextarea({
            name: "moreDetail",
            id: "more-detail",
            rows: "8",
            label: {
              html: "<strong>Can you provide more detail?</strong>"
            }
          }) }}





          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}


