{% extends "layouts/main.html" %}

{% block pageTitle %}
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form class="form" action="reason-for-change-more-detail" method="post">

       {{ govukTextarea({
          name: "moreDetail",
          id: "more-detail",
          rows: "10",
          label: {
            text: "Can you provide more detail?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: ""
          }
        }) }}

      
      
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}


