{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the director's name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form class="form" action="reason-for-change" method="post">


<!-- Select the reason you need to report or change their details: -->

        {{ govukRadios({
          name: "reason-for-the-change",
          fieldset: {
            legend: {
              text: "Tell us why you need to change or report the details",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "change-1",
              text: "Their details were entered incorrectly"
            },
            {
              value: "change-2",
              text: "Their details have changed"
            },
            {
              value: "change-3",
              text: "I think they gave false details"
            }
          ]
        }) }}  

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}


