{% extends "layouts/main.html" %}

{% block pageTitle %}
Your verification reference – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form class="form" action="verification-confirmation" method="post">
        

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="verification-ID">
            Your verification reference 
          </label>
          <div id="verification-ID-hint" class="govuk-hint">
            You can find this on the confirmation email we sent when you verified them. 
          </div>
        </h1>
        <input class="govuk-input" id="verification-ID" name="verificationID" type="text">
      </div>


      {{ govukButton({
        text: "Continue",
        href:"what-do-you-want-to-change"
      }) }}



  



     

    </div>
  </div>
{% endblock %}
