{% extends "layouts/layout-account-signout-your-companies-jill.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Remove Kate Williams</h1>

      <p class="govuk-body">If you remove Kate Williams, this means they will no longer be able to file online for JAMES ACCOUNTING LTD. We'll email Kate Williams to let them know you have removed them as a member of JAMES ACCOUNTING LTD.</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Remove",
          classes: "govuk-button--warning",
          href:"account-acsp-members"
        }) }}
      
        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary"
        }) }}
      </div>
          

     </div>
</div>
</div>


{% endblock %}
