{% extends "layouts/layout-account-signout-your-companies-jill.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Remove Kate Williams</h1>

      <p class="govuk-body">If you remove Kate Williams, this means they will no longer be able to ...</p>


          {{ govukButton({
            text: "Remove",
            classes: "govuk-button--warning",
            href:"account-acsp-members"
          }) }}

     </div>
</div>
</div>


{% endblock %}
