{% extends "layouts/main.html" %}

{% block pageTitle %}
Shortcuts – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <h1 class="govuk-heading-l">
      {{ serviceName}}
      <span class="govuk-caption-xl">Version 1</span>
    </h1>

    

    {{ govukButton({
      text: "ACSP - verifying an officer's identity",
      classes: "govuk-button--secondary",
      href:"/guidance"
    }) }}


    {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}

    <!--{{ govukWarningText({
      text: "This prototype is not being actively worked on",
      iconFallbackText: "Warning"
    }) }}-->

  </div>
</div>


<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#code">
        Entry points and links
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#form-versions">
        Previous versions
      </a>
    </li>
  </ul>

  <div class="govuk-tabs__panel" id="code">

   <!--  <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
    <ul class="govuk-list govuk-list govuk-!-margin-bottom-6">
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#earlyScreens">Early screens</a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#identity">Identity</a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#oebemo">Overseas entity, beneficial owners and managing officers</a>
      </li>
    </ul> -->

    <!-- <h2 class="govuk-heading-m" id="earlyScreens">Guidance</h2>

       <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="">Guidance page </a>
        </li>
      </ul> -->

    <h2 class="govuk-heading-m" id="earlyScreens">Entry point to the service</h2>

        <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-list" href="emails/acsp-registration-accepted.html">Email - ACSP registration accepted</a>
        </li>
        <li>
          <a class="govuk-list" href="verify-using-an-acsp/sign-in">Sign in to Companies House</a>
        </li>
        <li>
          <a class="govuk-link" href="ch-account/home">CH account dashboard for an ACSP</a>
        </li>
      </ul>

    <h2 class="govuk-heading-m" id="earlyScreens">Early screens</h2>

        <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="verify-using-an-acsp/start-page">Start page</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m" id="userRole">Individual's details</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-list" href="verify-using-an-acsp/name">Name</a>
        </li>
        <li>
          <a class="govuk-list" href="verify-using-an-acsp/dob"> Date of birth</a>
        </li>
        <li>
          <a class="govuk-list" href="verify-using-an-acsp/address-lookup">Where do they live?</a>
        </li>
        <li>
          <a class="govuk-list" href="verify-using-an-acsp/address-confirm">Confirm their home address</a>
        </li>
        <li>
          <a class="govuk-list" href="verify-using-an-acsp/email-address">Email address</a>
        </li>
        <li>
          <a class="govuk-list" href="verify-using-an-acsp/documents-checked">Which identity documents did you check to prove their identity?</a>
        </li>
        <li>
          <a class="govuk-list" href="verify-using-an-acsp/keep-records">Keep records of the documents used to prove their identity</a>
        </li>
        <li>
          <a class="govuk-list" href="verify-using-an-acsp/statements/authority-to-file">Authority to file declaration</a>
        </li>
        <li>
          <a class="govuk-list" href="verify-using-an-acsp/statements/id-check">Identity verification declaration</a>
        </li>

      </ul>

      <h2 class="govuk-heading-m"id="finalScreens">Final screens</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-list" href="verify-using-an-acsp/check-your-answers">Check your answers before sending your application</a>
          </li>
          <li>
            <a class="govuk-list" href="payment">Payment</a>
          </li>
          <li>
            <a class="govuk-list" href="confirmation"> Confirmation</a>
          </li> 
        </ul>



      


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m"id="finalScreens">Manage ACSP details</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-list" href="ch-account/acsp-members">Manage people within the ACSP</a>
          </li>
        </ul>


      <!-- Previous versions -->

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
        <table class="govuk-table version-history">
          <caption class="govuk-table__caption govuk-heading-l">Previous versions</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Changes</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body ">


        <!-- Template version -->

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="javascript:void(0)">Version 1</a>
          </th>
          <td class="govuk-table__cell">TBA</td>
          <td class="govuk-table__cell">

          <p><a href="/register/trusts/trust-assign">Page name</a><p>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>New page added</a></li>
                          </ul>

          </td>
          <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Not ready for user testing
                </strong>
          </td>
        </tr>

      </tbody>
      </table>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
    
  </div>
</div>



{% endblock %}




